html {
  background-color: rgb(241, 241, 241);
}

header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(50, 167, 145);
  padding: 0 20px;
  color: white;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

.spacing {
  padding: 5px;
  margin: 10px;
}

main {
  display: flex;
  justify-content: space-evenly;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

#trybewarts-forms-logo {
  height: 500px;
  display: flex;
}

#block1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.inputs {
  flex-basis: 40%;
  flex-grow: 1;
}

#houseLabel {
  padding: 0 10px;
}

#block2 {
  display: flex;
  flex-flow: row;
}

#casas-familia {
  flex-grow: 1;
}

#checkboxes {
  flex-grow: 2;
}

hr {
  width: 50%;
  margin: 15px auto;
}

#rating {
  display: flex;
  margin: 5px;
}

#comment {
  display: flex;
  flex-flow: column;
}

textarea {
  resize: none;
}

p , .center {
  text-align: center;
}

.trybewarts-header-logo {
  padding-top: 7px;
}

.gambiarra {
  width: 60%;
}

input , select {
  background-color: white;
  border: rgb(206, 206, 206) solid 1px;
  border-radius: 5px;
  padding: 5px 2px;
}

button {
  list-style: none;
  background-color: rgb(134, 31, 134);
  color: white;
  border-radius: 5px;
  border: gray solid 1px;
  padding: 10px 40%;
  margin-left: 5%;
}
