header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(50, 167, 145);
  padding: 0 20px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

#trybewarts-forms-logo {
  height: 500px;
}

#block1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.inputs {
  flex-basis: 40%;
  flex-grow: 1;
}

#house {
  padding: 0 10px;
}

#block2 {
  display: flex;
  flex-flow: row;
}

#casas-familia {
  flex-grow: 1;
}

#checkboxes {
  flex-grow: 2;
}

hr {
  width: 50%;
  margin: 15px auto;
}

#rating {
  display: flex;
  margin: 5px;
}

#comment {
  display: flex;
  flex-flow: column;
}

textarea {
  resize: none;
}
